body {
  background-color: #2b2a33;
}

.content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.card {
  aspect-ratio: 3/2;
  height: auto;
  border: 1px solid #f9f9fb;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem #f9f9fb;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-00.25rem);
  box-shadow: 0 0 0.75rem #f9f9fb;
}
